<connectionStrings>
  <add name="MyShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=MyShopAPI;Integrated Security=False;User Id=sa;Password=abc@123;MultipleActiveResultSets=True" />
<!--<add name="MyShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=TRIEUMAI\SQLSERVER;Initial Catalog=MyShopAPI;Integrated Security=False;User Id=sa;Password=123@123;MultipleActiveResultSets=True" />-->
</connectionStrings>